pytest~=8.3.3
vosk~=0.3.45
pydub~=0.25.1
aiogram~=3.13.1
transformers~=4.45.2
regex~=2024.9.11
torch~=2.4.1
numpy~=2.1.2
tqdm~=4.66.5
pytesseract~=0.3.13
opencv-python~=4.10.0.84
matplotlib~=3.9.2
pillow~=10.4.0
PyPDF2~=3.0.1